torch==2.2.2
torchvision==0.17.2
numpy==1.26.4
pandas==2.2.1
scikit-learn==1.4.2
timm==0.9.16
torchmetrics==1.1.2
einops==0.8.0
transformers==4.41.2
tqdm==4.66.2
mamba-ssm==1.2.0.post1
causal-conv1d==1.2.0.post2
